
body{
background-image: url("nature-background-images-19.jpg");
bakground-size: cover;
}
section{
	text-align: center;
	 color:rgb(6, 6, 19);
}


.container{
	text-align: center;
	color:rgb(18, 18, 19);
	
}
#container1{
	text-align: center;
	color:rgb(17, 231, 45);
}
#container2{
	text-align: center;
	color:blue;
}


	

