
h1
{
text-align: center;
}
section1
{
text-align: left;
}
section
{
text-align: center;
}
address
{
text-align: right;
}	
body
{
background-image: url("contact-us-banner.jpg");
 background-position: center ;
    background-attachment: fixed;
	height: 200px;
    width: 85%;
background-size: cover;
}